[Unit]
Description=Lampguard OSMonitor
After=network.target

[Service]
ExecStart=/usr/local/bin/osmonitor
Restart=on-failure
WorkingDirectory=/opt/osmonitor

[Install]
WantedBy=multi-user.target